
# HTID:8493282: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www.)?(www.psicologapoliana.com.br|psicologapoliana.com.br|polipsyco.000webhostapp.com)(/)?.*$      [NC]
RewriteRule .*.(.*)$ http://www.psicologapoliana.com.br/index.html [R,NC]
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:8493282:
